{% extends 'base.html' %}
{% block title %}Reseñas y comunidad{% endblock %}
{% block content %}

<h1>Comunidad y Reseñas</h1>

<div class="resenas-botones">
    {% if user.is_authenticated %}
        {% if user.verificado %}
            <a href="{% url 'crear_resena' %}" class="btn-resena">Escribir reseña</a>
        {% else %}
            <a class="btn-resena btn-disabled">Escribir reseña (verifica tu cuenta)</a>
        {% endif %}
        <a href="{% url 'mis_resenas' %}" class="btn-resena">Ver mis reseñas</a>
    {% else %}
        <a class="btn-resena btn-disabled">Escribir reseña (inicia sesión)</a>
        <a href="{% url 'login' %}" class="btn-resena">Inicia sesión para ver tus reseñas</a>
    {% endif %}
</div>


<h2>Reseñas recientes</h2>
<ul class="lista-resenas">
    {% for resena in resenas %}
        <li>
            <a href="{% url 'resena_publica_detalle' resena.id %}">
                {{ resena.evento.nombre }} ({{ resena.puntuacion }}/5) - {{ resena.usuario.username }}
            </a>
            <span class="resena-fecha">{{ resena.fecha|date:"d/m/Y H:i" }}</span>
        </li>
    {% empty %}
        <li>No hay reseñas recientes.</li>
    {% endfor %}
</ul>

{% endblock %}